main {
    font-family: Arial, sans-serif;
}

section {
    padding: 2em;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;    
}

h1 {
    margin: auto;
    font-size: 24px;
    color: #333;
}

.add-concert-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.search-button:hover {
    background-color: #0056b3;
}

.edit-concert-button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stylizacja sekcji dodawania zdjęć */
.form-group input[type="file"] {
    padding: 5px;
    font-size: 14px;
}

/* Ukrywanie domyślnego inputu pliku */
.file-input {
    display: none;
}

/* Stylowanie kontenera dla uploadu pliku */
.file-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em; /* Dostosuj margines w razie potrzeby */
}

/* Stylowanie niestandardowego przycisku pliku */
.file-upload label.edit-concert-button {
    /* Ponieważ używamy już klasy .edit-concert-button, dodatkowe style nie są konieczne */
    /* Możesz dodać dodatkowe style tutaj, jeśli chcesz */
    margin-right: 1em; /* Przestrzeń między przyciskiem a nazwą pliku */
}

/* Stylowanie elementu wyświetlającego nazwę pliku */
.file-name {
    font-size: 14px;
    color: #555;
}
