body {
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-gap: 2em;
    padding: 2em;
    justify-items: center;
    overflow-y: scroll;
}

.feed > .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30em;
    height: max-content;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
}

.carousel {
    position: relative;
    overflow: hidden; /* Ukrywa obrazy poza widocznym obszarem */
    width: 100%;
    aspect-ratio: 1 / 1; /* Wymusza kwadratowy kształt kontenera karuzeli */
    border-radius: 1em;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out; /* Płynne przesuwanie zdjęć */
    height: 100%; /* Karuzela zawsze wypełnia wysokość kontenera */
}

.carousel-track img {
    width: 100%; /* Zdjęcie zajmuje całą szerokość kontenera */
    height: 100%; /* Zdjęcie wypełnia wysokość kontenera */
    object-fit: cover; /* Dopasowuje obraz do kwadratowej ramki */
    flex-shrink: 0; /* Zapobiega zmniejszaniu zdjęcia */
    aspect-ratio: 1 / 1; /* Zdjęcia są kwadratowe */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    visibility: visible;
}

.carousel-button.prev {
    left: 0.5em;
}

.carousel-button.next {
    right: 0.5em;
}

.carousel-button.hidden {
    visibility: hidden;
}
.carousel-button:focus {
    outline: none;
}

.details {
    padding: 1em;
    font: 1em Arial, sans-serif;
}

.details h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.details p {
    margin: 0.5em 0;
    color: #555;
}

.details p strong {
    color: #000;
}