
* {
    margin: 0;
    padding: 0;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #1E1E1E;
}


main {
    width: 80vw;
}

nav > img {
    width: 75%;
    margin: 1em auto;
    margin-bottom: 3em ;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    text-align: left;
    color: white;
    margin-bottom: 1em;
}

li.profile {
    align-items: center;
}

li i, li img {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    border-radius: 50%;
 
}
.button, .button-profile {
    border: none;
    margin-left: 1em;
    text-align: left;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
    width: 60%;
}

ul {
    list-style: none;
    color: white;
    font: normal normal normal 20px/27px Arial;
    letter-spacing: 0.72px;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
}

.fa, .fas {
    width: 1em;
    color: white;
}

nav.i {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}



.search-bar {
    width: 30em;
    display: flex;
    justify-content: center;
}

.search-bar>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    height: 2em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}